{% extends "base.html" %}

{% block title %}
Students
{% endblock %}

{% block content %}

<h2>Students List</h2>

<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Course</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td colspan="3" class="text-center">
                No students found
            </td>
        </tr>
    </tbody>
</table>

{% endblock %}